@page
@model PrimaWebApp.Pages.IndexModel
@{
}
<html>
<body>
    <h1>Cerea, neh</h1>
    <p>Vai alla pagina di <a href="/risposta">risposta</a></p>
    <form action="/risposta" method="get">
        <input type="text" name="testo" />
        <input type="submit" />
    </form>
</body>
</html>